@font-face {
  font-family: "Carena";
  src: url("fonts/carena-regular-webfont.woff2") format("woff2");
  src: url("fonts/carena-regular-webfont.woff") format("woff");
}

html {
  --background-color: #fff8e8;
  --primary-color: #cb333d;
  --secoundary-color: #f7c6cc;
  --gap-small: 20px;
  --gap-medium: 30px;
  --gap-large: 40px;
  --content: 1150px;
  --content-wide: 1300px;
  --content-full-width: 100%;
  --color-white: #fff;
  --color-black: #000;
  --margin-bottom: 40px;
}

body {
  background: var(--background-color);
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

h1,
.h1 {
  font-family: "Carena", sans-serif;
  color: var(--primary-color);
}
h2,
.h2 {
  font-family: "Carena", sans-serif;
  color: var(--primary-color);
}
h3,
.h3 {
  font-family: "Carena", sans-serif;
  color: var(--primary-color);
}
h4,
.h4 {
  font-family: "Carena", sans-serif;
  color: var(--primary-color);
}
h5,
.h5 {
  font-family: "Carena", sans-serif;
  color: var(--primary-color);
}
a,
.a {
  font-family: "Carena", sans-serif;
}

.content {
  width: var(--content);
  margin: 0 auto;
}

.content-wide {
  width: var(--content-wide);
  margin: 0 auto;
}

.content-full-width {
  width: var(--content-full-width);
  margin: 0 auto;
}

.carena {
  font-family: "Carena", sans-serif;
}

p {
  font-size: 20px;
}
