@font-face {
  font-family: "Carena";
  src: url("/fonts/carena-regular-webfont.woff2") format("woff2"), url("/fonts/carena-regular-webfont.woff") format("woff");
}

html {
  --background-color: #fff8e8;
  --primary-color: #cb333d;
  --secoundary-color: #f7c6cc;
  --text-color: #2b2a27;
  --gap-small: 20px;
  --gap-medium: 40px;
  --gap-large: 60px;
  --content: 1150px;
  --content-wide: 1300px;
  --content-full-width: 100%;
  --margin-bottom: 80px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--background-color);
  margin: 0 auto;
  font-family: "roboto-condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

h1,
.h1 {
  font-family: "Carena", sans-serif;
  color: var(--primary-color);
  -webkit-text-stroke: 0.1px var(--secoundary-color);
  font-size: 60px;
  margin-bottom: 5px;
}

h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  font-family: "Carena", sans-serif;
  color: var(--primary-color);
}

a,
.a {
  font-family: "Carena", sans-serif;
  color: var(--text-color);
}

.content,
.content-wide,
.content-full-width {
  max-width: 100%;
  margin: 0 auto;
}

h1.carena {
  font-size: 20px;
  -webkit-text-stroke: inherit;
}

.carena {
  font-family: "Carena", sans-serif;
  color: var(--primary-color);
  display: inline;
}

.btn {
  padding: 10px 30px;
  text-align: center;
  border-radius: 100px;
  border: 1px solid #f7c5cc;
  background: rgba(253, 235, 225, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(247, 197, 204, 0.25), 0px 4px 4px 0px rgba(247, 197, 204, 0.25);
  backdrop-filter: blur(10px);
  background-blend-mode: soft-light;
  color: #cb333d;
  text-decoration: none;
  display: block;
  font-size: 16px;
  width: fit-content;
  margin: 10px auto;
}

p.section1 {
  display: inline;
}

p {
  font-size: 20px;
  text-wrap: pretty;
  color: var(--text-color);
}

/* Hero */
.forside img.hero {
  position: relative;
  top: -80px;
  height: 90vh;
  object-fit: cover;
}

.hero_image {
  height: 450px;
  object-fit: contain;
}

.weddings .hero_image {
  max-height: 600px;
}

.slideshow-container-data .slides img {
  object-fit: cover;
}

.grid_1_1,
.grid_1_1-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap-large);
  align-items: center;
  margin: var(--margin-bottom) 0;
}

.single-view {
  width: var(--content);
  margin: 0 auto;
  box-sizing: border-box;
}

.slide-in {
  font-size: 20px;
  text-align: center;
  margin-bottom: 40px;
  text-wrap: pretty;
  opacity: 1;
  animation: none;
}

/* Hover shop keyframes */
@keyframes pulseShop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* Hover keyframes */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* Responsive Styles */
@media (max-width: 1150px) {
  .grid_1_1,
  .grid_1_1-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .forside img.hero {
    height: 60vh;
  }

  .single-view {
    width: calc(100% - 40px);
    margin: 0 20px;
  }

  .slider-button {
    font-size: 20px;
    top: 70px;
  }
}

@media (max-width: 800px) {
  .content {
    width: 100%;
    margin: 10px;
  }

  .display-web {
    display: none;
  }

  .display-phone {
    display: block;
  }

  .events .hero_image,
  .photoshoot .hero_image,
  .installations .hero_image,
  .weekly-bouquets .hero_image,
  .subscriptions-bouquets .hero_image {
    height: auto;
    margin-bottom: 20px;
  }

  .grid_1_1-2,
  .weekly-bouquets .grid_1_1 {
    grid-template-columns: 1fr;
    gap: var(--gap-small);
  }

  .slideshow-container-data .slides img {
    object-fit: contain;
  }

  .weddings img.image-1 {
    width: 200px;
  }

  .next {
    right: -10px !important;
  }
  .prev {
    left: -10px !important;
  }
}

@media (min-width: 800px) {
  .display-phone {
    display: none !important;
  }
  .slide-in {
    animation: slideInFromRight 4s forwards;
  }

  .text-slide {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.5s, transform 0.5s;
  }
  /* Slide-in keyframes */
  @keyframes slideInFromRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
