---
import Header from "../components/Header.astro"
import WebFeatureLayout from "../layouts/WebFeatureLayout.astro"
import VideoItem from "../components/VideoItem.astro"
import ImageItem from "../components/ImageItem.astro"
import Footer from "../components/Footer.astro"
---

<body>
	<WebFeatureLayout>
		<Header/>
		<VideoItem videoUrl="https://vabb1998.dk/kea/10_eksamen/about_video/Rhodflowers_about.mp4" rawHTMLString=""/>
		<img class="blomster" src="/public/blomsterkrans.svg" alt="">
		<ImageItem imgUrl = "" rawHTMLString="I'm Mathilda, I'm 22 years old, and the founder of RHODflowers.<br> <br> RHODflowers has been in the flower industry for over three years now, and I'm putting that experience into the everyday craft. My journey began with a passion for flowers and a desire to bring unique and creative floral designs to life. <br><br> Since the foundation of RHODflowers in August of 2022, my mission has always been to elevate floral design to new levels of creativity. Driven by a vision to make the flower industry greener and more sustainable, I have transitioned to an entirely online ordering system to minimize flower waste. This approach not only helps the environment but also ensures that each arrangement is made fresh to order, maintaining the highest quality for my clients. <br><br> RHODflowers specialize in creating stunning flower arrangements for a variety of events, including weddings, social gatherings, photoshoots, store openings, and even fashion week. Whether you're planning an intimate wedding ceremony, a grand social event, or a high-profile fashion show, I bring a personalized touch to every project. My floral designs are tailored to match the unique aesthetic of each event, enhancing the atmosphere and leaving a lasting impression on your guests. <br><br> As an independent, creative, and professional flower business, RHODflowers is dedicated to the craft. I take pride in the careful attention to detail that goes into every arrangement, ensuring that each piece reflects the vision and style of the occasion. From elegant bridal bouquets and elaborate flower arches to chic centerpieces and bespoke installations. <br><br> My goal is to make every event memorable, and I look forward to helping you create unforgettable moments with my floral creations. <br><br> Thank you for considering RHODflowers for your floral needs. Your support means the world to me, and I am excited to bring your floral visions to life. "/>
		<Footer/>
	</WebFeatureLayout>	
</body>

<style>

	.blomster {
		position: absolute;
    	top: 570px;
		width: 104vw;
    	margin-left: -30px;

	}
	@media (max-width: 800px) {
		.blomster {
			display: none;
		}
	}
</style>

