---

import MainLayout from "../layouts/MainLayouts.astro"

import Header from "../components/Header.astro"

import TextImageGridData from "../components/TextImageGridData.astro"

import CarouselData from "../components/CarouselData.astro"

import FooterContact from "../components/FooterContact.astro"

---

<body>
	<MainLayout>
		<Header currentPage="events"/>

    <div class="single-view events">
		
      <div class="grid_1_1-2">

        <div class="event_hero">
          <img class="hero_image" src="" alt="">
        </div>

        <div class="text-image">
          <TextImageGridData/>
        </div>
  
      </div>

          <CarouselData/>

    </div>
      
		<FooterContact/>
    
	</MainLayout>	
</body>

<script>

const urlParams = new URLSearchParams(window.location.search);
const id = urlParams.get("id");



fetch(`https://ctlcisrydaldajnrvqdf.supabase.co/rest/v1/rhod_flowers?id=eq.${id}`, {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN0bGNpc3J5ZGFsZGFqbnJ2cWRmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU2OTM0MTYsImV4cCI6MjAzMTI2OTQxNn0.TCoM-Tn4YqUzGvlq4dD7yyxrrihtZwJcT1QkNriiias",
  },
})
  .then((response) => response.json())
  .then((data) => category(data));

  // Single-product
function category(singleCategory) {
  console.log(singleCategory);
  const single = singleCategory[0];

  
  document.querySelector(".firstWord").textContent = single.firstWord;

  document.querySelector(".firstSection").textContent = single.firstSection;

  document.querySelector(".secoundSection").textContent = single.secoundSection;

  document.querySelector(".thirdSection").textContent = single.thirdSection;

  document.querySelector(".single_former").src = single.single_view_former;

  document.documentElement.style.setProperty('--imgUrl', `url(${single.single_view_former})`);

  document.querySelector(".hero_image").src = single.shop;

}

</script>

<style> 

/*
* Styling rykket ind til style.css ellers virker det ikke?
*/

</style>



