---

import MainLayout from "../layouts/MainLayouts.astro"

import Header from "../components/Header.astro"

import Footer from "../components/Footer.astro"

---
<MainLayout title="Terms & Conditions">
    <body>
		<Header currentPage="handelsbetingelser"/>
        <div class="terms content">
            <h1>TERMS AND CONDITIONS:</h1>
            <p>This website is operated by Blomster Bjarne. By using our website and/or purchasing goods, you are engaging in our services and agree to abide by the following terms and conditions.</p>

            <h2>General:</h2>
            <p>We reserve the right to refuse services.</p>

            <h2>Products:</h2>
            <p>We sell products that are unique and/or made in limited editions. Therefore, we are not responsible for the quantity of available products. We update our webshop as quickly as possible when items are sold. We strive to display a very accurate color and shape of each item online. We cannot guarantee that your screen or the images accurately depict the product's color or shape.</p>

            <h2>Shipping:</h2>
            <p>Blomster Bjarne ships products to most parts of the world. Find your country on our list of countries at checkout. Please contact us via email if your country is not on the list. Shipping prices will be calculated at checkout. An additional shipping cost may be charged via PayPal after your purchase if the item is heavier or of irregular size, as our system cannot calculate this. You will be able to cancel your order if you do not wish to pay the additional shipping cost. You will be contacted via email after purchase if this is the situation.</p>

            <h2>Packaging:</h2>
            <p>We transport fragile products. Therefore, we ensure to pack everything accordingly. We recommend unpacking your packages as soon as possible to ensure everything has arrived intact. We reserve all rights to cancel an order due to delivery conditions in a given country.</p>

            <h2>Customs and VAT:</h2>
            <p>On private sales made within the EU, Danish VAT (25%) is applied, as per the law. Payments from EU businesses with a valid EU VAT registration number outside DK are exempt from Danish VAT (25%). Please contact us for an invoice without Danish VAT (25%). Customers outside the EU may be subject to paying local taxes or duties upon delivery – we are not responsible for payment or handling of this.</p>

            <h2>Prices:</h2>
            <p>We reserve the right to change prices at any given time without notice. We are not liable to anyone regarding these changes except for any contacts with Blomster Bjarne. All prices are stated including Danish VAT (25%). We cannot be held responsible for any errors in pricing and reserve the right to cancel an order if the price was incorrectly stated.</p>

            <h2>Payment:</h2>
            <p>We accept the following payments: DANKORT / VISA-DANKORT, VISA, VISA ELECTRON, MASTER- / EUROCARD, MAESTRO, and JCB. Blomster Bjarne encrypts all payments.</p>

            <h2>Complaints and Returns Policy:</h2>
            <p>You have the right to exchange a product within 30 days after the product has been delivered to you, unless the product is custom-made for you. Upon exchange, you will receive a voucher with the same value as the returned items for use on our website. The credit balance for the product will be credited from the value of the product you ordered when you invoke the return and exchange policy. Should the value of the products you ordered exceed the balance on your voucher; you will pay the difference to Blomster Bjarne. Cash payment will not be refunded, we only exchange.</p>
            <p>The following terms and conditions apply to the exchange policy:</p>
            <ul>
                <li>The product must be unused and in undamaged condition</li>
                <li>The product should not be assembled</li>
                <li>The original packaging must be undamaged, and labels must still be attached to the product</li>
                <li>The customer pays the return shipping</li>
            </ul>
            <p>Instructions on how to return an item will be provided by contacting Blomster Bjarne.</p>
            <p>We do not return or exchange perishable goods such as flowers and plants.</p>
        </div>
        <Footer/>
    </body>
</MainLayout>


<style>

	@media (max-width: 1150px) {
        .terms {
            overflow: hidden;
            box-sizing: border-box;
            width: fit-content;
        }
	    h1 {
            font-size: 30px;
        }
	}
</style>

