---

import MainLayout from "../layouts/MainLayouts.astro"
import Header from "../components/Header.astro"
import Hero from "../components/Hero.astro"
import FrontPageText from "../components/FrontPageGrid.astro"

import Footer from "../components/Footer.astro"
import FooterContact from "../components/FooterContact.astro"

---

<body>
	<MainLayout>
		<Header/>
		<Hero/>
		<FrontPageText/>
		<FooterContact/>
	</MainLayout>	
</body>

