---

import MainLayout from "../layouts/MainLayouts.astro"
import Header from "../components/Header.astro"
import Hero from "../components/Hero.astro"
import TextImageGrid from "../components/TextImageGrid.astro"
import Carousel from "../components/Carousel.astro"

// import InstallationResult from "../components/InstallationResult.astro"

import Footer from "../components/Footer.astro"


---

<body class="forside">
	<MainLayout>
		<Header/>
		<Hero imgSrc= "/public/Forside/bg1.webp"/>

		<!-- Grid image text image -->
		<div class="grid_1_1_1">
			<img class="fontpage-img left" src="public/Forside/front-page-left.svg" alt="">
			<div class="grid-content">
				<TextImageGrid imgUrl = "url(public/text-image-frontpage.svg)" imgSrc = "/public/text-image-frontpage.svg" rawHTMLString='<p class="carena">RHODflowers</p>  <p class="section1">is a Copenhagen-based contemporary flower studio. We operate as an online flowerv shop, with a unique focus on reducing flower waste by creating bouquets and installations on demand.</p><p>Instead of pre-made bouquets that may go unused and end up wasted, we craft our arrangements based on individual orders. This means we only use the necessary flowers for each order, reducing our waste and helping to preserve the environment.</p><p>Our approach also ensures that our customers receive fresh, tailored bouquets that suit their needs and preferences. We strive to create beautiful and unique flower arrangements that both delight our customers and respect the resources of nature.</p>'/>
			</div>		
			<img class="fontpage-img right" src="public/Forside/front-page-right.svg" alt="">
		</div>
		
        <Carousel imageOne="/public/Forside/egne_events-01.png" imageTwo="/public/Forside/egne_events-02.png" imageThree="/public/Forside/egne_events-03.png" imageFour="/public/Forside/egne_events-04.png" imageFive="/public/Forside/egne_events-05.png" imageSix="/public/Forside/egne_events-06.png" imageSeven="/public/Forside/egne_events-07.png" imageEight="/public/Forside/egne_events-08.png"/>

        <!-- <InstallationResult drawingImg="public/hero1.webp" resultImg="public/event-slider-two.png"/> -->

		<Footer/>
	</MainLayout>	
</body>





<style>


    .grid_1_1_1 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--gap-small);
        align-items: center;
        overflow: hidden;
    }

img.text-around {
    float: right;
    shape-outside: url("public/text-image-frontpage.png");
    width: 180px;
}


.fontpage-img {
    max-height: 600px;
    position: relative;
}

.left {
    
    left: -60px;
}

.right {
    right: -100px;
}
@media (max-width: 800px) {
    .grid_1_1_1 {
        padding: 10px;
        grid-template-columns: 1fr;
        margin-bottom: var(--margin-bottom);
    }

    .fontpage-img {
        display: none;
    }
}

</style>