---

import MainLayout from "../layouts/MainLayouts.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
---
<MainLayout title="Shop">
	<body>
		<Header currentPage="shop"/>
		<div class="shop"></div>
		<template>
			<article>
				<div class="shop-class">
					<a class="shop-view" href="Kommer selv">
						<img src="/" alt="" />
					</a>
				</div>
			  
			</article>
		</template>
		<Footer/>
	</body>
</MainLayout>

<style>

	.shop {
		position: relative;
		display: flex;
		flex-direction: column;
		max-width: var(--content);
		margin: 0 auto;
		height: 950px;
	}

	.weddings {
		left: 0px;
		width: 300px;
    	top: 400px;
	}

	.events {
		width: 400px;
    	right: 0;
    	top: 50px;
	}

	.installations {
		right: 400px;
    	width: 400px;
    	top: 600px;
	}

	.photoshoot {
		top: 400px;
		right: 0px;
		width: 400px;
	}

	.subscription-bouquets {
	    top: 150px;
		width: 300px;
    	left: 400px;
	}

	.weekly-bouquets {
		left: 50px;
    	top: 50px;
		width: 300px
	}

	.shop-class {
		position: absolute;
	}

	.shop-class:hover {
		animation: pulseShop 1s infinite;
	}

	@media (max-width: 1100px) {
		.shop-class {
			width: 300px;
		}
		.weddings {
			width: 250px;
		}
	}

	@media (max-width: 1000px) {
		.installations {
			left: 350px;
		}
		.subscription-bouquets {
			left: 350px;
		}
	}

	@media (max-width: 920px) {
		.shop-class {
		position: inherit;
		width: 100%;
		}
		.shop {
			margin: 10px;
			height: 100%;
		}

		 .shop-view img {
			max-height: 300px;
    		object-fit: contain;
		}

		.weddings .shop-view img {
			max-height: 400px;
    		object-fit: contain;
		}
	}
	
	
</style>




<script>
	
	

fetch(`https://ctlcisrydaldajnrvqdf.supabase.co/rest/v1/rhod_flowers`, {
	method: "GET",
	headers: {

	apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN0bGNpc3J5ZGFsZGFqbnJ2cWRmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU2OTM0MTYsImV4cCI6MjAzMTI2OTQxNn0.TCoM-Tn4YqUzGvlq4dD7yyxrrihtZwJcT1QkNriiias",
	},
	})
	.then((response) => response.json())
	.then(dateRecevied);

function dateRecevied(data) {
  //We have date
  console.log(data);
  data.forEach(shop);
}

function shop(shopView) {
  console.log(shopView);
  const template = document.querySelector("template").content;
  const clone = template.cloneNode(true);
  const id = shopView.id;
  const name = shopView.name;


  
    clone.querySelector(".shop-view").href = `${name}.html?id=${id}`


    clone.querySelector("img").src = shopView.shop;

	clone.querySelector(".shop-class").classList.add(`${name}`);

  const parentElement = document.querySelector(".shop");
  parentElement.appendChild(clone);
}

</script>



