---

import MainLayout from "../layouts/MainLayouts.astro"
import Header from "../components/Header.astro"

import Footer from "../components/Footer.astro"
---

<body>
	<MainLayout>
		<Header/>
		<h1>Kommer selv</h1>
		<Footer/>
	</MainLayout>	
</body>

<script>


const urlParams = new URLSearchParams(window.location.search);
const id = urlParams.get("id");


fetch(`https://ctlcisrydaldajnrvqdf.supabase.co/rest/v1/rhod_flowers?id=eq.${id}`, {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN0bGNpc3J5ZGFsZGFqbnJ2cWRmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU2OTM0MTYsImV4cCI6MjAzMTI2OTQxNn0.TCoM-Tn4YqUzGvlq4dD7yyxrrihtZwJcT1QkNriiias",
  },
})
  .then((response) => response.json())
  .then((data) => category(data));

// Single-product
function category(singleCategory) {
  console.log(singleCategory);
  const single = singleCategory[0];


  document.querySelector("h1").textContent = single.name;
  

}


</script>