---

---

<footer>

    <div class="icons">
        <a target="_blank" href="">
            <img src="/public/logo-facebook.svg" alt="">
        </a>
        <a target="_blank" href="https://www.instagram.com/rhodflowers/?fbclid=IwZXh0bgNhZW0CMTAAAR2LbwXzTqvPZFgRTdQpvRD1B7a9U8xNkLVg0NlJR5Wgtfhm7bS-7xkYDss_aem_Aa1p_kTp5Xhx7gETh4rmz8h-b8_ZJN4PeqVgc6SJ85GAakqPkhpgrhuImjEavk1gfTXpTQ_zNEPjaE6BXMWORrtJ">
            <img src="/public/logo-instagram.svg" alt="">
        </a>

        <a target="_blank" href="https://www.tiktok.com/@rhodflowers">
            <img src="/public/logo-tiktok.svg" alt="">
        </a>
    </div>

</footer>
    


<style>

 footer {
    background-image: url("/public/footerbg.png");
    height: 250px;
    background-repeat: no-repeat;
    display: flex;
 }

 .icons {
    display: flex;
    gap: 20px;
    margin-left: auto;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: 20px;
 }

 .icons a  {
    transition: all 0.2s ease-in-out;
 }

 .icons a:hover  {
    animation: pulse 1s infinite; /* Apply the pulse animation */
 }

 .icons a img {
    height: 40px;
 }
    
</style>