---

---

<footer>

   <div class="cvr-handels">
      <a class="handels" href="/handelsbetingelser"><p>Terms & Conditions</p></a>
      <p class="cvr">CVR-nummer: 43408364</p>
   </div>

<div class="button-icon">
    
    <a href="contact" class="btn display-phone">Contact us</a>
    <div class="icons">
        
        <a target="_blank" href="https://www.instagram.com/rhodflowers/?fbclid=IwZXh0bgNhZW0CMTAAAR2LbwXzTqvPZFgRTdQpvRD1B7a9U8xNkLVg0NlJR5Wgtfhm7bS-7xkYDss_aem_Aa1p_kTp5Xhx7gETh4rmz8h-b8_ZJN4PeqVgc6SJ85GAakqPkhpgrhuImjEavk1gfTXpTQ_zNEPjaE6BXMWORrtJ">
            <img src="/public/logo-instagram.svg" alt="">
        </a>

        <a target="_blank" href="https://www.tiktok.com/@rhodflowers">
            <img src="/public/logo-tiktok.svg" alt="">
        </a>
    </div>
    <img class="display-phone" src="public/text-image-frontpage.svg" alt="">
</div>

</footer>
    


<style>

 footer {
    background-image: url("/public/footerbg.svg");
    height: 285px;
    background-repeat: no-repeat;
    display: flex;
    position: relative;
    background-position: center;
    margin-top: 40px;
 }

 .button-icon {
    margin: auto 20px  20px auto

 }


 .button-icon .icons {
    display: flex;
    gap: 15px;
 }


 .icons a  {
    transition: all 0.2s ease-in-out;
 }

 .icons a:hover  {
    animation: pulse 1s infinite;
 }

 .icons a img {
    height: 30px;
 }


 .cvr-handels {
   text-align: center;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: 20px;
 }
.cvr {
   font-family: "Carena", sans-serif;
}
 .handels {
   text-decoration: none;
   color: #000;
   display: inline-block;
 }

 .handels:hover {
    animation: pulse 1s infinite; 
 }

 .cvr-handels p {
   font-size: 12px;
   margin-bottom: 0;
   margin-top: 5px;
 }

 @media (max-width: 800px) {
   .button-icon {
        margin: 0px auto;
    }
   .button-icon .icons {
        justify-content: center;
        margin-top: 20px;
    }
   footer {
      grid-template-columns: 1fr;
      display: grid;
      height: auto;
      background-image: none;
   }
   .cvr-handels {
      margin: 20px auto;
   }
 }

    
</style>