---

---
<header id="active-menu">
    <div class="inner-header">
        
      <div class="burger-menu">
        <div class="menu-icon" id="menu-icon">
          <div class="bar bar-1"></div>
          <div class="bar bar-2"></div>
          <div class="bar bar-3"></div>
        </div>
      </div>
    </div>
    <a class="logo-video" href="/">
        <video autoplay loop>
            <source src="https://roweb.dk/kea/02_semester/02_eksamen/mathilda_logo_2.webm" >
        </video> 
    </a>
    <nav class="active-show">
        <li class="dropdown">
            <a class="dropdown-btn" href="shop">Shop    
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                </svg>
            </a>
            <ul class="dropdown-content">
                <li><a href="/events.html?id=1" class="dropdown-item">Events</a></li>
                <li><a href="/subscription-bouquets.html?id=2" class="dropdown-item">Subscription bouquets</a></li>
                <li><a href="/weddings.html?id=3" class="dropdown-item">Weddings</a></li>
                <li><a href="/photoshoot.html?id=4" class="dropdown-item">Photoshoot</a></li>
                <li><a href="/installations.html?id=5" class="dropdown-item">Installations</a></li>
                <li><a href="weekly-bouquets.html?id=6" class="dropdown-item">Weekly bouquets</a></li>
            </ul>
        </li>

        <a class="dropdown-btn" href="contact">Contact</a>
        
        <a class="dropdown-btn" href="about">About</a>



        
    </nav>
</header>


    
<style>
   
            
        header {
            display: flex;
            z-index: 200;
            padding-top: 20px;
            position: relative;
            max-width: var(--content-wide);
            margin: 0 auto;
        }
    
    
        header nav {
            display: flex;
            gap: var(--gap-small);
            position: absolute;
            right: 20px;
            top: 35px;
            
        }

        @media (max-width: 800px) {
            header nav {
                right: 0;
                
            }
        }
    
        header a {
            font-size: 18px;
            text-decoration: none;
            color: var(--primary-color);
        }
        
        header nav ul {
            padding: 0;
            list-style: none;
            display: none;
            margin: 0;
            }
    
        header nav ul li {
           margin: auto;
        }
  
    
         a:hover {
            animation: pulse 1s infinite; /* Apply the pulse animation */
        }

        
        .logo-video {
            display: contents;
        }
        @media (max-width: 800px) {
            .logo-video video {
            width: 150px;
            }
        }
        video {
            width: 200px;
            margin: 0px auto;
        }
    
        /*
        * Dropdown
        */
        .dropdown {
            display: flex;
            flex-direction: column;
            display: inline-block;
            
        }
        
    
        @media (min-width: 800px) {

        
            .dropdown {
                position: relative;
                
            }
            
        }
        .dropdown svg {
            height: 18px;
            width: 18px;
            position: relative;
            top: 2px;
            stroke-width: 3px;
        }
    
        /* Style for the dropdown button */
        .dropdown-btn {
            cursor: pointer;
            margin: 0;
            font-size: 18px;
            /* padding: 10px 20px; */
            border-radius: 32px;
            border: 1px solid transparent;
            
        }



        /* Apply pulsating effect on dropdown button */
        .dropdown-btn:hover {
            animation: pulse 1s infinite; /* Apply the pulse animation */
        }
            
        .dropdown-btn svg {
            transition: all 0.4s ease-in-out;
            
        }
    
        .dropdown-btn:hover svg {
            transform: rotate(180deg);
        }
    
        @media (max-width: 800px) {
        /* Style for the dropdown content */
        .dropdown-content {
            display: block!important;
            position: relative;
            top: 4%;
            left: 0;
            padding-left: 0;
            }
        }
    
        @media (min-width: 800px) {
        .dropdown-content {
            display: none;
            position: absolute;
            min-width: 160px;
            z-index: 100;
            border: 1px solid transparent;
            left: -5px;
            padding: 10px !important;
            border-radius: 32px;
            margin-top: 10px !important;
            backdrop-filter: blur(7.8px);
            -webkit-backdrop-filter: blur(7.8px);
            top: 15px;
             border: 1px solid #F7C5CC;
        background: rgba(253, 235, 225, 0.25);
        box-shadow: 0px 4px 4px 0px rgba(247, 197, 204, 0.25), 0px 4px 4px 0px rgba(247, 197, 204, 0.25);
          }
        }
    
        .dropdown-content a {
            font-size: 16px;
            padding: 6px 16px;
        }

        @media (max-width: 800px) {
            .dropdown-content a {
            padding: 8px 16px;
            }
        }
    
        /* .dropdown-content a.active {
            display: block;
            color: var(--primary-color);
            opacity: 0.6;
        } */

        .dropdown-content a:hover {
            animation: pulse 1s infinite; /* Apply the pulse animation */
        }
    
        /* Style for the dropdown items */
        .dropdown-item {
            padding: 12px 16px;
            display: block;
            cursor: pointer;
            /* top: 15px; */
            position: relative;
            padding-top: 0;
        }
    
        .dropdown-item:hover {
            animation: pulse 1s infinite; /* Apply the pulse animation */
        }
    
        /* Show the dropdown content on hover */
        .dropdown:hover .dropdown-content {
            display: block;
        }
        .dropdown:hover .dropdown-btn svg {
            transform: rotate(180deg);
        }
    
        .logo {
            margin-right: auto;
        }
        
        .logo img {
            width: 100px;
        }
    
    
    /*
    * Burgermenu
    */
    @media (max-width: 800px) {
      .inner-header {
        display: flex;
        order: 1;
      }
    
      .burger-menu {
        position: absolute;
        right: 20px;
        top: 20px;
        z-index: 100;
      }
    
      .active-show {
        
        /* transition: max-height 0.4s ease-in-out; */
        transition: all 0.4s ease-in-out;
        max-height: 0;
        overflow: hidden;
        flex-direction: column; 
        text-align: center;
        position: relative;
        top: 90px!important;
        opacity: 0;
        right: 0;
        left: 0;
        
    }

.menu-opened .active-show {
    display: flex!important;
    position: absolute;
    width: 100%;
    flex-direction: column;
    text-align: center;
    max-height: 100vh;
    opacity: 1;
    top: 90px;
}

    
      .active-show ul {
        list-style: none;
        flex-direction: column;
        /* background-color: red; */
        text-align: center;
        margin: 10px auto;
        gap: 20px;
      }
    
      .active-show li {
        margin-bottom: 10px;
      }
      .active-show a {
        text-decoration: none;
        color: var(--primary-color);
        font-size: 24px;
      }
    
      .menu-icon {
        display: inline-block;
        cursor: pointer;
        
      }
    
      .bar {
        width: 35px;
        height: 3px;
        background: var(--primary-color);
        margin: 6px 0;
        transition: 0.4s;
      }

    
      .menu-opened .bar-1 {
        transform: rotate(-45deg);
        margin-left: -8px;
        margin-top: 14px;
      }
    
      .menu-opened .bar-2 {
        display: none;
      }
    
      .menu-opened .bar-3 {
        transform: rotate(45deg);
        margin-top: -9px;
    margin-left: -8px;
        
      }
    }
    .order {
      order: -1;
    }
    @media (min-width: 800px) {
      .order {
        order: inherit;
      }
    }
    
    /* Apply pulse animation on dropdown button hover */
.dropdown-btn:hover {
    animation: pulse 1s infinite;
}

/* Define pulse animation */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

/* Remove pulse animation from dropdown button when dropdown is hovered over */
.dropdown:hover .dropdown-btn {
    animation: none;
}

    </style>
    
    <script>
        /*
        * Burgermenu
        */
        document.addEventListener("DOMContentLoaded", function () {
        const menuIcon = document.getElementById("menu-icon");
        const active = document.getElementById("active-menu");
    
        menuIcon.addEventListener("click", function () {
            active.classList.toggle("menu-opened");
        });
        });
    
        
    </script>