---

---

<div class="header">
    <p>her</p>
    <p>her2</p>
</div>

<style>
    .header {
        background: var(--primary-color);
        max-width: var(--content-wide);
        display: flex;
        gap: var(--gap-small);
        margin: 0 auto;
        color: var(--color-white)
    }
    
</style>
    