---

---

<div class="hero">
    <img src="public/hero1.webp" alt="">
</div>

<style>
    .hero img {
        position: relative;
        top: -80px;
        height: 90vh;
        object-fit: cover;
    }

    @media (max-width: 800px) {
        .hero img {
            height: 60vh;
        }
    }
</style>