---
const { imgUrl, rawHTMLString } = Astro.props;
---

<div class="item item-a">
    <div id="content-container">
        <p set:html={rawHTMLString}></p>
    </div>
</div>

<style define:vars={{imgUrl}}>
    * {
        margin: 0;
        box-sizing: border-box;
    }

    .item {
        height: 100vh; 
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: var(--imgUrl);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
        /* background-attachment: fixed; */
        margin-top: -80px;
        overflow: hidden; 
    }

    #content-container {
        width: 100vw;
        padding: 20px 300px;
        color: #000;
        text-align: center;
        overflow-x: hidden;
        /* overflow-y: auto; */
        max-height: 70vh;
        text-align: left;
    }

    @media (max-width: 1150px) {
        #content-container {
            padding: 20px 150px;
        }
    }


    @media (max-width: 800px) {
        #content-container {
            padding: 20px;
        }
    }

    #content-container::-webkit-scrollbar {
        width: 0; 
    }

    .item:not(:first-of-type) {
        opacity: 0.4;
        transition: opacity 2s;
    }

    .item.fade-in {
        opacity: 1 !important;
    }

    p {
        font-size: 20px;
        margin: 0; 
    }
</style>

<script>
   
    // const items = document.querySelectorAll(".item");

    // window.addEventListener("scroll", handleScroll);

    // let allowScroll = true;

    // function handleScroll() {
    //     if (allowScroll) {
    //         console.log("Manual scroll detected");
    //         scrollToContent();
    //         allowScroll = false;
    //         setTimeout(() => {
    //             allowScroll = true;
    //         }, 1000); 
    //     }
    // }

    
    // function scrollToContent() {
    
    //     const triggerBottom = window.innerHeight / 2;

    //     items.forEach((item) => {
    //         const itemTop = item.getBoundingClientRect().top;

    //         if (itemTop < triggerBottom && item !== items[0]) {
    //             const contentContainer = item.querySelector("#content-container");
    //             contentContainer.scrollIntoView({ behavior: "smooth" });
    //         }
    //     });
    // }
</script>
