---
const { rawHTMLString, imgSrc, imgUrl } = Astro.props;

---


<img class="single_former" src="#" alt="">
<p class="carena firstWord">Kommer selv</p>
<p class="firstSection section1">Kommer selv</p>
<p class="secoundSection">Kommer selv</p>
<p class="thirdSection">Kommer selv</p>



<style define:vars={{imgUrl}}>

img.single_former {
    float: right;
    shape-outside: var(--imgUrl);
    width: 180px;
    margin-top: 10px;
}



</style>

