---

const {imgUrl } = Astro.props;

---


<img class="single_former" src="" alt="">
<h1 class="carena firstWord"></h1>
<p class="firstSection section1"></p>
<p class="secoundSection"></p>
<p class="thirdSection"></p>



<style define:vars={{imgUrl}}>

img.single_former {
    float: right;
    shape-outside: var(--imgUrl);
    width: 180px;
    margin-top: 10px;
}

</style>

