---
const { rawHTMLString, imgSrc, imgUrl } = Astro.props;

---


<img class="single_former" src="#" alt="">
<p class="carena firstWord"></p>
<p class="firstSection section1"></p>
<p class="secoundSection"></p>
<p class="thirdSection"></p>



<style define:vars={{imgUrl}}>

img.single_former {
    float: right;
    shape-outside: var(--imgUrl);
    width: 180px;
    margin-top: 10px;
}




</style>

