---
const { rawHTMLString, imgSrc, imgUrl } = Astro.props;
---


<img class="text-around" src={imgSrc} alt="">
<p set:html={rawHTMLString}></p>


<style define:vars={{imgUrl}}>

img.text-around {
    float: right;
    shape-outside: var(--imgUrl);
    width: 180px;
    margin-top: 10px;
}


</style>